    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
			<!-- <div class="col-lg-9 col-lg-offset-2"> -->
              <br/>
<h3>COMBO BỘ NỘI THẤT PHÒNG NGỦ THEO PHONG CÁCH HIỆN ĐẠI GIÁ RẺ TẠI HÀ NỘI.</h3>
<p>Bộ nội thất phòng ngủ của Smartview được thiết kế cho các cặp vợ chồng trẻ với thiết kế tối ưu nhất phù hợp với nhu cầu tài chính của mình. Chỉ với khoảng 10m2 diện tích phòng ngủ, chúng tôi sẽ thiết kế và thi công trọn bộ nội thất phòng ngủ tối ưu về giá và công năng sử dụng, đẹp, đảm bảo độ bền cho khách hàng.</p>
<p><strong><em>Trọn bộ combo phòng ngủ bao gồm những gì?</strong></em><br>
Combo phòng ngủ bao gồm nội thất cơ bản như giường ngủ, tủ đầu giường, tủ quần áo, bàn trang điểm, gương soi ... và các hạng mục khác tùy theo nhu cầu sử dụng của khách hàng.</p>
<p>Về vật liệu khách hàng có thể tham khảo nhiều loại vật liệu gỗ công nghiệp khác nhau: MFC, MDF chống ẩm phủ melamine, tuổi thọ trung bình 15 năm theo khuyến cáo của nhà cung cấp vật liệu, tùy vào vật liệu khách hàng chọn mà giá nội thất phòng ngủ hiện đại, giá trọn bộ phòng ngủ sẽ khác nhau. Tuy nhiên, Smartview cam kết sẽ tư vấn, báo giá phải tốt nhất phù hợp với điều kiện tài chính của chủ nhà.</p>
			<!-- </div> -->
        </div>
    </section>
