<section id="services">
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
					{{ post.title }}<br>
					{{ post.ref }}
					</h2>
                    <div class="lead">					
					- Giá: {{ post.price }}<br>
					- Có 3 màu để lựa chọn: {{ post.color }}<br>
					- Chất liệu: {{ post.mat }}
					</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<a href="{{site.baseurl}}{{post.url}}" class="portfolio-box">
					  <img class="img-responsive" src="assets/img/phong-ngu-thumb/{{ post.img }}" alt="">
					</a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
					{{ post.title }}<br>
					{{ post.ref }}
					</h2>
					<div class="lead">					
					- Giá: {{ post.price }}<br>
					- Có 3 màu để lựa chọn: {{ post.color }}<br>
					- Chất liệu: {{ post.mat }}
					</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
					<a href="{{site.baseurl}}{{post.url}}" class="portfolio-box">
					  <img class="img-responsive" src="assets/img/phong-ngu-thumb/{{ post.img }}" alt="">
					</a>
				</div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
